<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Maker</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Welcome to Joke Maker</h1>
    <p>Refresh the page to get a new joke. You may need to try a few times to get a new joke.</p>
    <%= joke %>
</body>
</html>